<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" href="assets/dataTables.semanticui.min.css">
    <link rel="stylesheet" href="assets/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Open+Sans+Condensed:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="assets/favicon.jpg" />

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <%- include('navbar'); %>

    <div id="tableDiv">

        <table id="table" class="ui celled table display" style="width:100%">
            <thead>
                <tr>
                    <th>Artikelnummer</th>
                    <th>Artikel</th>
                    <th>Anzahl</th>
                    <th>Mindestanzahl</th>
                    <th>Ort</th>
                    <th>Kategorie</th>
                    <th>Erstellt von</th>
                    <th>Zuletzt geändert von</th>
                    <th>Änderungsdatum</th>
                    <th>Änderungsuhrzeit</th>
                    <th>Stichwörter</th>
                    <th>Logs</th>
                </tr>
            </thead>

            <tfoot>
                <tr id='inputTr'>
                    <th><input type="text" placeholder="Suche Artikelnummer"></th>
                    <th><input type="text" placeholder="Suche Artikel"></th>
                    <th><input type="text" placeholder="Suche Anzahl"></th>
                    <th><input type="text" placeholder="Suche Mindestanzahl"></th>
                    <th><input type="text" placeholder="Suche Ort"></th>
                    <th><input type="text" placeholder="Suche Kategorie"></th>
                    <th><input type="text" placeholder="Suche Erstellt von"></th>
                    <th><input type="text" placeholder="Suche Zuletzt geändert von"></th>
                    <th><input type="text" placeholder="Suche Änderungsdatum"></th>
                    <th><input type="text" placeholder="Suche Änderungsuhrzeit"></th>
                    <th><input type="text" placeholder="Suche Stichwörter"></th>
                    <th></th>
                </tr>
            </tfoot>
            </tbody>
        </table>
    </div>

    <div id="PopUp">
        <form id="createForm" action="/create" method="post">

            <div class="PopUp_topBar">
                Neuen Artikel anlegen
                <span>x</span>
            </div>
            <div class="PopUp_middle">
                <table>
                    <tr>
                        <td>Artikel:</td>
                        <td><input autocomplete="off" type="text" id="name" name="name" maxlength="20" required></td>
                        <td></td>
                        <td>Ort:</td>
                        <td>
                            <!-- <input type="text" id="location" name="location" maxlength="20" required> -->
                            <select name="location" id="location" required
                                oninvalid="this.setCustomValidity('Wählen Sie bitte einen Ort aus.\n Sie müssen diese vorher in den Stammdaten eintragen')">
                                <% for(var i=0; i < stammdaten.ort.data.length; i++){ %>
                                <option name="<%= stammdaten.ort.data[i].ort; %>" value="<%= stammdaten.ort.data[i].ort; %>">
                                    <%= stammdaten.ort.data[i].ort; %>
                                </option>
                                <% } %>
                            </select>
                            <a href="/stammdaten" style="margin-left: 5px">
                                <img class="linkStammdaten" src="assets/iconfinder_link.svg" alt=""
                                    title="Zu den Stammdaten.." onclick="">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Anzahl:</td>
                        <td><input type="text" id="number" name="number" maxlength="10" required></td>
                        <td></td>
                        <td>Mindestanzahl:</td>
                        <td><input type="text" id="minimum_number" name="minimum_number" maxlength="10" required></td>
                    </tr>
                    <tr>
                        <td>Kategorie:</td>
                        <td>
                            <!-- <input type="text" id="category" name="category" maxlength="20" required> -->
                            <select name="category" id="category" required>
                                <% for(var i=0; i < stammdaten.kategorie.data.length; i++){ %>
                                <option name="<%= stammdaten.kategorie.data[i].kategorie; %>"
                                    value="<%= stammdaten.kategorie.data[i].kategorie; %>">
                                    <%= stammdaten.kategorie.data[i].kategorie; %>
                                </option>
                                <% } %>
                            </select>
                            <a href="/stammdaten">
                                <img class="linkStammdaten" src="assets/iconfinder_link.svg" alt=""
                                    title="Zu den Stammdaten..">
                            </a>
                        </td>
                        <td></td>
                        <td>Stichwörter:</td>
                        <td>
                            <div class="select-wrapper">
                                <span class="autocomplete-select"></span>
                              </div>
                        </td>
                    </tr>

                </table>
            </div>
            <div class="PopUp_footer">
                <button type="submit" id="CreateSubmit">Speichern</button>
            </div>
        </form>
    </div>

    <div id="PopUpUpdate">
        <form id="updateForm" action="/entry">

            <div class="PopUp_topBar">
                Artikel bearbeiten
                <span>x</span>
            </div>
            <div class="PopUp_middle">
                <table>
                    <tr>
                        <td>Artikel:</td>
                        <td><input autocomplete="off" type="text" id="name_update" maxlength="20" name="name" required>
                        </td>
                        <td></td>
                        <td>Ort:</td>
                        <td>
                            <!-- <input type="text" id="location_update" maxlength="20" name="location" required> -->
                            <select name="location" id="location_update" required>
                                <% for(var i=0; i < stammdaten.ort.length; i++){ %>
                                <option name="<%= stammdaten.ort[i].ort; %>" value="<%= stammdaten.ort[i].ort; %>">
                                    <%= stammdaten.ort[i].ort; %>
                                </option>
                                <% } %>
                            </select>
                            <a href="/stammdaten">
                                <img class="linkStammdaten" src="assets/iconfinder_link.svg" alt=""
                                    title="Zu den Stammdaten..">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Anzahl:</td>
                        <td>
                            <input type="text" id="number_update" maxlength="10" name="number" required><br>
                            <button class="numberButton">-10</button>
                            <button class="numberButton">-1</button>
                            <button class="numberButton">+1</button>
                            <button class="numberButton">+10</button>
                        </td>
                        <td></td>
                        <td>Mindestanzahl:</td>
                        <td><input type="text" id="minimum_number_update" maxlength="10" name="minimum_number" required>
                        </td>
                    </tr>
                    <tr>
                        <td>Kategorie:</td>
                        <td>
                            <!-- <input type="text" id="category_update" name="category" maxlength="20" required> -->
                            <select name="category" id="category_update" required>
                                <% for(var i=0; i < stammdaten.kategorie.length; i++){ %>
                                <option name="<%= stammdaten.kategorie[i].kategorie; %>"
                                    value="<%= stammdaten.kategorie[i].kategorie; %>">
                                    <%= stammdaten.kategorie[i].kategorie; %>
                                </option>
                                <% } %>
                            </select>
                            <a href="/stammdaten">
                                <img class="linkStammdaten" src="assets/iconfinder_link.svg" alt=""
                                    title="Zu den Stammdaten..">
                            </a>
                        </td>
                        <td></td>
                        <td>Stichwörter:</td>
                        <td>
                            <div id="keyDiv_update">
                                <input type="text" name="" placeholder="" required id="keywords_update">
                            </div>
                            <a href="/stammdaten" style="float: right">
                                <img class="linkStammdaten" src="assets/iconfinder_link.svg" alt=""
                                    title="Zu den Stammdaten..">
                            </a>
                        </td>
                    </tr>

                </table>
            </div>
            <div class="PopUp_footer">
                <button type="submit" id="UpdateSubmit">Aktualisieren</button>
            </div>
        </form>
    </div>

    <div id="PopUpDelete">
        <form id="deleteForm" action="/entry">

            <div class="PopUp_topBar">
                Eintrag Löschen
                <span>x</span>
            </div>
            <div class="PopUpDelete_middle">

            </div>
            <div class="PopUp_footer">
                <button type="submit">Löschen</button>
            </div>
        </form>
    </div>

    <div id="cover"></div>

    <footer>

    </footer>

    <script src="assets/js/bundle.min.js"></script>

    <%- include('scripts'); %>
    <script>
        var autocomplete = new SelectPure(".autocomplete-select", {
          options: [
            {
              label: "Barbina",
              value: "ba",
            },
            {
              label: "Bigoli",
              value: "bg",
            },
            {
              label: "Bucatini",
              value: "bu",
            },
            {
              label: "Busiate",
              value: "bus",
            },
            {
              label: "Capellini",
              value: "cp",
            },
            {
              label: "Fedelini",
              value: "fe",
            },
            {
              label: "Maccheroni",
              value: "ma",
            },
            {
              label: "Spaghetti",
              value: "sp",
            },
          ],
          multiple: true,
          autocomplete: true,
          icon: "fa fa-times",
          onChange: value => {
                console.log(value);
                //var element = document.getElementsByClassName('.select-pure__label')[0];
                //element.scrollTop = element.scrollHeight;
                var element = $(".select-pure__label");
                $(element[0]).scrollTop(element[0].scrollHeight);

             },
          classNames: {
            select: "select-pure__select",
            dropdownShown: "select-pure__select--opened",
            multiselect: "select-pure__select--multiple",
            label: "select-pure__label",
            placeholder: "select-pure__placeholder",
            dropdown: "select-pure__options",
            option: "select-pure__option",
            autocompleteInput: "select-pure__autocomplete",
            selectedLabel: "select-pure__selected-label",
            selectedOption: "select-pure__option--selected",
            placeholderHidden: "select-pure__placeholder--hidden",
            optionHidden: "select-pure__option--hidden",
          }
        });
        var resetAutocomplete = function() {
          autocomplete.reset();
        };
      </script>
    <style>
        body {
          font-family: "Roboto", sans-serif;
        }
  
        .select-wrapper {
          margin: auto;
          max-width: 600px;
        }

        .select-pure__label{
          overflow-y: scroll;
          max-height: 80px;
        }
  
        .select-pure__select {
          max-width: 178px;
          align-items: center;
          background: #f9f9f8;
          border: 1px solid #717180 !important;
          border-radius: 4px;
          border: 1px solid rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-sizing: border-box;
          color: #363b3e;
          cursor: pointer;
          display: flex;
          font-size: 16px;
          font-weight: 500;
          justify-content: left;
          min-height: 32px;
          padding: 5px 10px;
          position: relative;
          transition: 0.2s;
          width: 100%;
        }
  
        .select-pure__options {
          border-radius: 4px;
          border: 1px solid rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-sizing: border-box;
          color: #363b3e;
          display: none;
          left: 0;
          max-height: 221px;
          overflow-y: scroll;
          position: absolute;
          top: 50px;
          width: 100%;
          z-index: 5;
        }
  
        .select-pure__select--opened .select-pure__options {
          display: block;
          
        }
  
        .select-pure__option {
          background: #fff;
          border-bottom: 1px solid #e4e4e4;
          box-sizing: border-box;
          height: 44px;
          line-height: 25px;
          padding: 10px;
        }
  
        .select-pure__option--disabled {
          color: #e4e4e4;
        }
  
        .select-pure__option--selected {
            display: none;
        }
  
        .select-pure__option--hidden {
          display: none;
        }
  
        .select-pure__selected-label {
          align-items: 'center';
          background: #5e6264;
          border-radius: 4px;
          color: #fff;
          cursor: initial;
          display: inline-flex;
          justify-content: 'center';
          margin: 5px 10px 5px 0;
          padding: 3px 7px;
        }
  
        .select-pure__selected-label:last-of-type {
          margin-right: 0;
        }
  
        .select-pure__selected-label i {
          cursor: pointer;
          display: inline-block;
          margin-left: 7px;
        }
  
        .select-pure__selected-label img {
          cursor: pointer;
          display: inline-block;
          height: 18px;
          margin-left: 7px;
          width: 14px;
        }
  
        .select-pure__selected-label i:hover {
          color: #e4e4e4;
        }
  
        .select-pure__autocomplete {
          background: #f9f9f8;
          border-bottom: 1px solid #e4e4e4;
          border-left: none;
          border-right: none;
          border-top: none;
          box-sizing: border-box;
          font-size: 16px;
          outline: none;
          padding: 10px;
          width: 100%;
        }
  
        .select-pure__placeholder--hidden {
          display: none;
        }
      </style>
</body>

</html>