<%- include('topbar'); %>

<body>
    <%- include('navbar'); %>

    <div id="tableDiv">
        <table id="table" class="ui celled table display" style="width:100%">
            <thead>
                <tr>
                    <th style="display:none"></th>
                    <th>Artikel</th>
                    <th>Anzahl</th>
                    <th>Mindestanzahl</th>
                    <th>Ort</th>
                    <th>Kategorie</th>
                    <th>Erstellt von</th>
                    <th>Zuletzt geändert von</th>
                    <th>Änderungsdatum</th>
                    <th>Änderungsuhrzeit</th>
                    <th>Stichwörter</th>
                    <th>Logs</th>
                </tr>
            </thead>
            <tbody id="dataTbody">
                <% for(var i=0; i < dbres.length; i++){ %>
                <tr>
                    <td style="display:none">
                        <%= dbres[i].id %>
                    </td>
                    <td>
                        <%= dbres[i].name %>
                    </td>
                    <td>
                        <%= dbres[i].number %>
                    </td>
                    <td>
                        <%= dbres[i].minimum_number %>
                    </td>
                    <td>
                        <%= dbres[i].location %>
                    </td>
                    <td>
                        <%= dbres[i].category %>
                    </td>
                    <td>
                        <%= dbres[i].creator %>
                    </td>
                    <td>
                        <%= dbres[i].change_by %>
                    </td>
                    <td>
                        <%= dbres[i].date %>
                    </td>
                    <td>
                        <%= dbres[i].time %>
                    </td>
                    <td>
                        <%= dbres[i].keywords %>
                    </td>
                    <td>
                        <img class="log" src="assets/iconfinder_link.svg" alt="">
                    </td>
                </tr>
                <% } %>
            <tfoot>
                <tr id='inputTr'>
                    <th style="display:none">Id</th>
                    <th><input type="text" placeholder="Suche Artikel"></th>
                    <th><input type="text" placeholder="Suche Anzahl"></th>
                    <th><input type="text" placeholder="Suche Mindestanzahl"></th>
                    <th><input type="text" placeholder="Suche Ort"></th>
                    <th><input type="text" placeholder="Suche Kategorie"></th>
                    <th><input type="text" placeholder="Suche Erstellt von"></th>
                    <th><input type="text" placeholder="Suche Zuletzt geändert von"></th>
                    <th><input type="text" placeholder="Suche Änderungsdatum"></th>
                    <th><input type="text" placeholder="Suche Änderungsuhrzeit"></th>
                    <th><input type="text" placeholder="Suche Stichwörter"></th>
                    <th></th>
                </tr>
            </tfoot>
            </tbody>
        </table>
    </div>

    <div id="PopUp">
        <form id="createForm" action="/create" method="post">

            <div class="PopUp_topBar">
                Neuen Artikel anlegen
                <span>x</span>
            </div>
            <div class="PopUp_middle">
                <table>
                    <tr>
                        <td>Artikel:</td>
                        <td><input autocomplete="off" type="text" id="name" name="name" maxlength="20" required></td>
                        <td></td>
                        <td>Ort:</td>
                        <td><input type="text" id="location" name="location" maxlength="20" required></td>
                    </tr>
                    <tr>
                        <td>Anzahl:</td>
                        <td><input type="text" id="number" name="number" maxlength="10" required></td>
                        <td></td>
                        <td>Mindestanzahl:</td>
                        <td><input type="text" id="minimum_number" name="minimum_number" maxlength="10" required></td>
                    </tr>
                    <tr>
                        <td>Kategorie:</td>
                        <td>
                            <input type="text" id="category" name="category" maxlength="20" required>
                            <select name="category" id="category">
                                <% for(var i=0; i < stammdaten.kategorie.length; i++){ %>
                                <option value="">
                                    <%= stammdaten.kategorie[i]; %>
                                </option>
                                <% } %>
                            </select>
                        </td>
                        <td></td>
                        <td>Stichwörter:</td>
                        <td><textarea style="resize: none;" name="keywords" maxlength="100" required id="keywords"
                                cols="23" rows="4" placeholder="Stichwort1, Stichwort2, ..."></textarea></td>
                    </tr>

                </table>
            </div>
            <div class="PopUp_footer">
                <button type="submit" id="CreateSubmit">Speichern</button>
            </div>
        </form>
    </div>

    <div id="PopUpUpdate">
        <form id="updateForm" action="/entry">

            <div class="PopUp_topBar">
                Artikel bearbeiten
                <span>x</span>
            </div>
            <div class="PopUp_middle">
                <table>
                    <tr>
                        <td>Artikel:</td>
                        <td><input autocomplete="off" type="text" id="name_update" maxlength="20" name="name" required>
                        </td>
                        <td></td>
                        <td>Ort:</td>
                        <td><input type="text" id="location_update" maxlength="20" name="location" required></td>
                    </tr>
                    <tr>
                        <td>Anzahl:</td>
                        <td><input type="text" id="number_update" maxlength="10" name="number" required></td>
                        <td></td>
                        <td>Mindestanzahl:</td>
                        <td><input type="text" id="minimum_number_update" maxlength="10" name="minimum_number" required>
                        </td>
                    </tr>
                    <tr>
                        <td>Kategorie:</td>
                        <td><input type="text" id="category_update" name="category" maxlength="20" required></td>
                        <td></td>
                        <td>Stickwort:</td>
                        <td><textarea style="resize: none;" name="keywords" maxlength="100" required
                                id="keywords_update" cols="23" rows="4"
                                placeholder="Stichwort1, Stichwort2, ..."></textarea></td>
                    </tr>

                </table>
            </div>
            <div class="PopUp_footer">
                <button type="submit" id="UpdateSubmit">Aktualisieren</button>
            </div>
        </form>
    </div>

    <div id="PopUpDelete">
        <form id="deleteForm" action="/entry">

            <div class="PopUp_topBar">
                Eintrag Löschen
                <span>x</span>
            </div>
            <div class="PopUpDelete_middle">

            </div>
            <div class="PopUp_footer">
                <button type="submit">Löschen</button>
            </div>
        </form>
    </div>

    <div id="cover"></div>

    <footer>

    </footer>

    <%- include('scripts'); %>

</body>

</html>